streamlit
langchain
langgraph
langchain-google-genai
langchain-community
langchain-chroma
langchain-text-splitters
chromadb
pypdf
pymupdf
google-generativeai
sentence-transformers
python-dotenv
pydantic
tavily-python
fastapi
uvicorn
langchain-chroma
